In [94]:
from selenium import webdriver
from selenium.webdriver.common.by import By
#from selenium.webdriver.common.keys import Keys
import time
import os
from socket import socket
import pandas as pd
import wget
import datetime
import numpy as np

In [2]:
fp = webdriver.FirefoxProfile()
fp.set_preference('browser.download.folderList', 2)
fp.set_preference('browser.download.manager.showWhenStarting', False)
fp.set_preference('browser.download.dir', '/tmp')
fp.set_preference("http.response.timeout", 300)
fp.set_preference("dom.max_script_run_time", 300)
fp.set_preference('webdriver.load.strategy', 'unstable')
fp.set_preference('browser.helperApps.neverAsk.saveToDisk', 'text/plain, application/vnd.ms-excel, text/csv, text/comma-separated-values, application/octet-stream, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')
fp.update_preferences()

In [3]:
driver = webdriver.Firefox(fp)
driver.get('http://w20.education.state.mn.us/MDEAnalytics/Data.jsp')

In [4]:
driver.switch_to.frame(driver.find_element_by_name('floatframe'))

In [5]:
ids_a = driver.find_elements_by_xpath("//*[text()='Student']")

In [6]:
for ii in ids_a:
    link = ii.get_attribute('href')
time.sleep(4)

In [7]:
#driver = webdriver.Firefox(fp) # is this linke needed?
driver.get(link)
time.sleep(3)

In [9]:
driver.switch_to.frame(driver.find_element_by_name('floatframe'))

In [10]:
driver.find_element_by_xpath("//input[@id='button1' and @name='button1']").click()
time.sleep(5)

In [11]:
driver.switch_to.frame(driver.find_element_by_name('Report'))

In [12]:
newpath_main = r'C:\MDE_Data'
if not os.path.exists(newpath_main):
    os.makedirs(newpath_main)   
os.chdir(newpath_main)
os.getcwd()

'C:\\MDE_Data'

In [17]:
i = datetime.datetime.now()
currentYr = "%s-" %(i.year -1) #, str(i.year))
lastYr = "%s-" %(i.year -2) #, str(i.year-1))
EnrNonPub = "Nonpublic"

In [13]:
NonPublicDir = r'C:\MDE_Data\Enrollment_NonPublic'
if not os.path.exists(NonPublicDir):
    os.makedirs(NonPublicDir)
os.chdir(NonPublicDir)
os.getcwd()

'C:\\MDE_Data\\Enrollment_NonPublic'

In [37]:
try:
    EnrNonPub_thisYr = driver.find_element_by_xpath('//a[@href and contains(@title, "%s") and contains(@title, "%s")]' %(currentYr, EnrNonPub))
    ThisYear = wget.download(EnrNonPub_thisYr.get_attribute('href'), print(EnrNonPub_thisYr.get_attribute('title')))
except:
    print("NA %s" %(currentYr))
try:
    EnrNonPub_lastYr = driver.find_element_by_xpath('//a[@href and contains(@title, "%s") and contains(@title, "%s")]' %(lastYr, EnrNonPub))
    LastYear = wget.download(EnrNonPub_lastYr.get_attribute('href'), print(EnrNonPub_lastYr.get_attribute('title')))
except:
    print("NA %s" %(lasttYr))

Data file: 2017-18 Enrollment-Nonpublic
100% [..............................................................................] 84932 / 84932Data file: 2016-17 Enrollment-Nonpublic
100% [..............................................................................] 84060 / 84060

In [52]:
ThisYearNP = pd.read_excel(ThisYear)
LastYearNP = pd.read_excel(LastYear)

In [53]:
columnsOfInterest = ['dst_num','dst_tye','sch_num','schoolname', 'gr_11', 'gr_12']

In [54]:
ThisYearNP = ThisYearNP[columnsOfInterest]
ThisYearNP = ThisYearNP[(ThisYearNP.gr_11 > 0) | (ThisYearNP.gr_12 > 0)]
ThisYearNP = ThisYearNP.rename(columns = {'gr_11': 'JuniorsThisYear',
                          'gr_12': 'SeniorsThisYear'})

In [55]:
LastYearNP = LastYearNP[columnsOfInterest]
LastYearNP = LastYearNP[(LastYearNP.gr_11 > 0) | (LastYearNP.gr_12 > 0)]
LastYearNP = LastYearNP.rename(columns = {'gr_11': 'JuniorsLastYear',
                          'gr_12': 'SeniorsLastYear'})

In [56]:
ThisYearNP.head()

,dst_num,dst_tye,sch_num,schoolname,JuniorsThisYear,SeniorsThisYear
0,1.0,33.0,9.0,DELASALLE HIGH SCHOOL,197.0,175.0
3,1.0,33.0,13.0,BLAKE SCHOOL,132.0,127.0
6,1.0,33.0,18.0,MINNEHAHA ACADEMY - UPPER SCHOOL,81.0,81.0
15,1.0,33.0,894.0,HOPE ACADEMY,15.0,20.0
16,1.0,33.0,918.0,CRISTO REY JESUIT HIGH SCHOOL,135.0,80.0

In [57]:
TotalNP = pd.merge(ThisYearNP, LastYearNP, how = 'inner', on = ['dst_num', 'dst_tye', 'sch_num', 'schoolname'])

In [59]:
Lookup = wget.download('http://w20.education.state.mn.us/MdeOrgView/tag/extractContacts/NonPublicSchool,MDE_ACTIVE?description=')

-1 / unknown

In [78]:
LookupNP = pd.read_csv(Lookup)

In [79]:
LookupNP.columns

Index(['District Number', 'District Type', 'School Number', 'Number',
       'Organization', 'Title', 'Name', 'First Name', 'Last Name', 'Phone',
       'Email', 'Mailing Line 1', 'Mailing Line 2', 'Mailing City',
       'Mailing State', 'Mailing Zip', 'Physical Line 1', 'Physical Line 2',
       'Physical City', 'Physical State', 'Physical Zip', 'County', 'Grades',
       'School Classification', 'Eco Dev Region', 'NCES ID',
       'StateOrganizationId', 'ACT ID', 'Web URL', 'Data Extracted'],
      dtype='object')

In [80]:
JoinColumns = ['District Number', 'District Type', 'School Number','Physical Line 1', 'Physical Line 2',
       'Physical City', 'Physical State', 'Physical Zip', 'County']
SelectColumns = ['Physical Line 1', 'Physical Line 2',
       'Physical City', 'Physical State', 'Physical Zip', 'County']

In [81]:
LookupNP = LookupNP[ColumnsOfInterest]

In [83]:
NP = pd.merge(LookupNP, TotalNP, how = 'inner', left_on = ['District Number', 'District Type', 'School Number'],
             right_on = ['dst_num', 'dst_tye', 'sch_num'])

In [84]:
SelectColumns = ['Physical Line 1', 'Physical Line 2',
                 'Physical City', 'Physical State', 
                 'Physical Zip', 'County', 'schoolname', 
                 'JuniorsThisYear', 'JuniorsLastYear', 
                'SeniorsThisYear', 'SeniorsLastYear']

In [96]:
NP = NP[SelectColumns]
NP = NP[NP['Physical Line 1'] != np.nan]

In [97]:
NP[NP['schoolname'].str.contains('CATHEDRAL')]['Physical Line 1']

74    312 7th Ave N
Name: Physical Line 1, dtype: object

In [99]:
NP[NP['Physical Line 1'] == '312 7th Ave N']

,Physical Line 1,Physical Line 2,Physical City,Physical State,Physical Zip,County,schoolname,JuniorsThisYear,JuniorsLastYear,SeniorsThisYear,SeniorsLastYear
74,312 7th Ave N,NaN,Saint Cloud,MN,56303,Stearns,CATHEDRAL - JOHN XXIII,96.0,118.0,121.0,108.0

In [100]:
NP.to_csv('NonPublic.csv', index = False)